.App {
  text-align: center;
}

.tournament-date {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.general-bracket {
  box-sizing: border-box;
  width: 100%;
  margin: 1em 0;
  padding: 0 1em;
  display: flex;
}

.bracket-initial {
  box-sizing: border-box;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  justify-content: space-around;
  overflow: hidden;
}

.bracket {
  background-color: #fff;
  border-radius: 0.5em;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  justify-content: space-around;
}

.b-2 {
  flex-basis: 200px !important;
}

.error-message {
  display: flex;
  flex-direction: column;
}

.mb-1 {
  margin-bottom: 2rem !important;
}

.date {
  display: flex;
  flex-direction: column;
}
